body {
    background: f0f3f5;
    color: #fff;
}

.cabecera {
    background-color: green;
    height: 100px;
    color: #f2f2f2;
    margin-bottom: 20px;
}

main {
    background-color: #f2f2f2;
    color: black;
    margin-bottom: 20px;
    padding: 10px 0px;
}

aside {
    background-color: #dee5e8;
    color: blue;
    padding: 60px 0px;
}

.widget {
    margin-bottom: 20px;
}

.widget>div {
    background-color: blue;
    color: #f2f2f2;
    padding: 20px;
}

.footer {
    background-color: black;
    color: #f2f2f2;
    height: 100px;
    padding: 20px;
}